<Tabs selectedIndex="0" tabsPosition="bottom">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem>
            <Label text="Aprendiendo"></Label>
            <Image src="font://&#xf005;" class="fas"></Image>
        </TabStripItem>
    <!--
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
    -->
        <TabStripItem class="special">
            <Label text="Cotidianas"></Label>
            <Image src="font://&#xf185;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Frutas"></Label>
            <Image src="font://&#xf094;" class="fas"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>
    <!--
    <TabContentItem>
        <page-router-outlet name="browseTab"></page-router-outlet>
    </TabContentItem>   
    -->
    <TabContentItem>
        <page-router-outlet name="schoolTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="fruitsTab"></page-router-outlet>
    </TabContentItem>
</Tabs>