<ActionBar>
    <Label text="Frutas "></Label>
</ActionBar>

<GridLayout class="page__content"> 
    
    <GridLayout columns="*,*," rows="*,*,*" sdkExampleTitle sdkToggleNavButton>
        <Image id="view1" (touch)="onTouch($event, 'view1', 'manzana')" class="border-img margin-10" col="0" src="~/app/media/frutas/images/manzana.jpg"></Image>
        <Image id="view2" (touch)="onTouch($event, 'view2', 'frutilla')" class="border-img margin-10" col="0" row="1" src="~/app/media/frutas/images/frutilla.jpg"></Image>
        <Image id="view3" (touch)="onTouch($event, 'view3', 'pina')" class="border-img margin-10" col="0" row="2" src="~/app/media/frutas/images/pina.jpg"></Image>
    
        <Image id="view4" (touch)="onTouch($event, 'view4', 'limon')" class="border-img margin-10" col="1" row="0" src="~/app/media/frutas/images/limon.jpg"></Image>
        <Image id="view5" (touch)="onTouch($event, 'view5', 'platano')" class="border-img margin-10" col="1" row="1" src="~/app/media/frutas/images/platano.jpg"></Image>
        <Image id="view6" (touch)="onTouch($event, 'view6', 'naranja')" class="border-img margin-10" col="1" row="2" src="~/app/media/frutas/images/naranja.jpg"></Image>
    </GridLayout>
</GridLayout>
