<ActionBar>
    <Label text="Cotidianas"></Label>
</ActionBar>

<GridLayout class="page__content"> 
    <GridLayout columns="*,*," rows="*,*,*" sdkExampleTitle sdkToggleNavButton>
       <Image id="view1" (touch)="onTouch($event, 'view1', 'lapiz')" class="border-img margin-10 pencil" col="0" src="~/app/media/school/images/pencil.jpg"></Image>
       <Image id="view2" (touch)="onTouch($event, 'view2', 'llaves')" class="border-img margin-10" col="0" row="1" src="~/app/media/school/images/keys.jpg"></Image>
       <Image id="view3" (touch)="onTouch($event, 'view3', 'agua')" class="border-img margin-10" col="0" row="2" src="~/app/media/school/images/agua.jpg"></Image>
       <Image id="view4" (touch)="onTouch($event, 'view4', 'auto')" class="border-img margin-10" col="1" row="0" src="~/app/media/school/images/auto.png   "></Image>
       <Image id="view5" (touch)="onTouch($event, 'view5', 'pelota')" class="border-img margin-10" col="1" row="1" src="~/app/media/school/images/ball.jpg"></Image>
       <Image id="view6" (touch)="onTouch($event, 'view6', 'perro')" class="border-img margin-10" col="1" row="2" src="~/app/media/school/images/perro.png"></Image>
    </GridLayout>
</GridLayout>
