<ActionBar>
    <Label text="Aprendiendo"></Label>
</ActionBar>

<GridLayout class="page__content"> 
    <GridLayout columns="*,*," rows="*,*,*" sdkExampleTitle sdkToggleNavButton>
       <Image id="view1" (touch)="onTouch($event, 'view1', 'chupete')" class="border-img margin-10 pencil" col="0" src="~/app/media/home/images/chupete.jpg"></Image>
       <Image id="view2" (touch)="onTouch($event, 'view2', 'cepillo')" class="border-img margin-10" col="0" row="1" src="~/app/media/home/images/cepillo.jpg"></Image>
       <Image id="view3" (touch)="onTouch($event, 'view3', 'dulce')" class="border-img margin-10" col="0" row="2" src="~/app/media/home/images/dulce.jpg"></Image>
       <Image id="view4" (touch)="onTouch($event, 'view4', 'silla')" class="border-img margin-10" col="1" row="0" src="~/app/media/home/images/chair.jpg"></Image>
       <Image id="view5" (touch)="onTouch($event, 'view5', 'pan')" class="border-img margin-10" col="1" row="1" src="~/app/media/home/images/pan.png"></Image>
       <Image id="view6" (touch)="onTouch($event, 'view6', 'taza')" class="border-img margin-10" col="1" row="2" src="~/app/media/home/images/taza.jpg"></Image>
    </GridLayout>
</GridLayout>